@import '../Theme/variables';

.cardSetButton {
  background-color: $first_bg;
  margin: 5px 10px;
  padding: 5px 15px;
  color: #fff;
  line-height: 1.6;
  border-radius: 5px;
  text-underline: none;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 0 grey;
  }
}