@import "../components/Theme/variables";

.buttons_block {
  margin: 0 auto 30px auto;
  width: $table_width;
  max-width: $table-sets_max-width;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
