@import "../components/Theme/variables";

.wrapper {
  width: 100%;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
}

.buttons {
  margin: 0 auto;
  max-width: $table_width + 20px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.card_buttons__wrapper {
}