@import '../Theme/variables';

.header {
  width: 100%;
  height: $header_height;
  padding: 5px 30px;
  background-color: $second_bg;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: $small_screen_width) {
    height: $header_footer_small;
  }
  &_link {
    height: $header_link_height;
    margin: ($header_height - $header_link_height)/2 0;
    color: #ba55d3;
    line-height: 1.5;
    font-size: 22px;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: $small_screen_width) {
      font-size: 18px;
    }
  }
}

.logo {
  width: 70px;
  height: 70px;
  background-image: url("../../../public/images/flash-cards_colored.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 2px #af52bf99);

  &:hover {
    cursor: pointer;
  }

  @media screen and (max-width: $small_screen_width) {
    width: 32px;
    height: 32px;
  }
}
@import '../Theme/variables';

