$first_bg_light: rgba(194, 90, 212, 0.21);
$first_bg: #af52bf;
$second_bg: #f5f5f5;

$header_bg: #f5f5f5;
$header_height: 80px;
$header_link_height: 40px;
$header_font_color: #ba55d3;
$header_footer_small: 40px;
$footer_bg: #f5f5f5;
$footer_height: 120px;

$small_screen_width: 650px;
$card_icon_size: 28px;

$table_width: 85%;
$table-sets_max-width: 600px;
$table-words_max-width: 900px;
$id-column_width: 80px;

$btn-cell_min-width: 115px;
$btn-action_bg: #df68aa99;
$btn-action_bg_hover: #e37daeff;
$btn-add-block_bg: $btn-action_bg;
$btn-add-block_bg_hover: $btn-action_bg_hover;

