@import '../Theme/variables';

.table {
  width: $table_width;
  table-layout: fixed;
  border: 1px solid grey;
  border-collapse: collapse;
  font-family: 'Segoe UI', sans-serif;
  -webkit-box-shadow: 0 0 10px 1px rgba(172, 172, 172, 0.5);
  -moz-box-shadow: 0 0 10px 1px rgba(172, 172, 172, 0.5);
  box-shadow: 0 0 10px 1px rgba(172, 172, 172, 0.5);
  @media screen and (max-width: $small_screen_width) {
    width: 99%;
  }

  &__cell {
    word-wrap: break-word;
    background-color: #ffffff;
    font-size: 14px;
    width: auto;
    height: auto;

    &_id {
      @media screen and (max-width: $small_screen_width) {
        display: none;
      }
    }

    &_buttons {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      vertical-align: center;
      @media screen and (max-width: $small_screen_width) {
        width: 80px;
      }
    }

    &_wrapper {
      padding: 0;
    }


  }

  &__sets {
    max-width: $table-sets_max-width;
  }

  &__words {
    max-width: $table-words_max-width;
  }

  &__row {
    background-color: #fff;
    border: 1px solid #D3D3D3FF;
    border-collapse: collapse;
  }

  &__header {
    &_row {
      color: #808080;
      font-weight: 600;
      border: 1px solid #D3D3D3FF;
      background-color: $header_bg;
      word-wrap: break-word;
    }

    &_cell {
      width: auto;

      &_id {
        @media screen and (max-width: $small_screen_width) {
          display: none;
        }
      }

      &_date {
        width: 86px;
        text-align: center;
      }

      &_number {
        width: $id-column_width;
        overflow-wrap: normal;
        @media screen and (max-width: $small_screen_width) {
          width: 40px;
        }
      }

      &_last {
        width: $btn-cell_min-width;
        text-align: right;

        @media screen and (max-width: $small_screen_width) {
          width: 80px;
        }
      }
    }
  }

  &__header_cell
  &__header_cell,
  &__header_cell_last,
  &__cell, &__cell_buttons, &__header_cell_number {
    padding: 8px 6px;
    border-collapse: collapse;
    @media screen and (max-width: $small_screen_width) {
      padding: 6px 4px;
    }
  }
}

.button {
  width: 30px;
  height: 30px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 3px;
  border: none;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
  background-color: $btn-action_bg;
  //box-shadow: 0 0 1px 1px rgba(172, 172, 172, 0.5);

  @media screen and (max-width: $small_screen_width) {
    width: 22px;
    height: 22px;
    background-size: 16px 16px;
    margin-left: 2px;
    margin-right: 2px;
  }

  &:hover {
    cursor: pointer;
    background-color: $btn-action_bg_hover;
    //box-shadow: 0 0 2px 1px $first_bg;
  }

  &_save {
    margin-left: 0;
    background-image: url(../../../public/images/check-solid_white.svg);
  }

  &_edit {
    background-image: url(../../../public/images/pencil-solid_white.svg);
  }

  &_cancel {
    background-image: url(../../../public/images/xmark-solid_white.svg);
  }

  &_delete {
    background-image: url(../../../public/images/trash-can-solid_white.svg);
    margin-right: 0;
  }

  &_cancel_add {
    background-image: url(../../../public/images/xmark-solid_white.svg);

  }

  &_saveNewItem {
    background-image: url(../../../public/images/add-new-item_white.svg);
    margin-right: 0;
  }

  &_cancel_add,
  &_saveNewItem {
    background-color: $btn-add-block_bg;

    &:hover {
      background-color: $btn-add-block_bg_hover;
    }
  }

  &_addRow {
    background-image: url(../../../public/images/plus-solid_white.svg);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;

    &_open {
      transform: rotate(0deg);
      transition: rotate;
      transition-duration: 600ms;
    }

    &_close {
      transform: rotate(-135deg);
      transition: 600ms;
    }
  }
}

.input {

  padding: 1px 2px;
  border: none;
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  text-align: center;

  &__editable {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid #dddddd;
  }

  &__alarmed {
    border: 2px solid #e84568;
  }

  &:disabled {
    color: black;
  }
}