@import '../Theme/variables';

.login_button {
  height: 40px;
  width: 60px;
  margin: auto 0;
  color: #ba55d3;
  line-height: 1.5;
  font-size: 22px;

  &:hover {
    cursor: pointer;
  }

  @media screen and (max-width: $small_screen_width) {
    font-size: 18px;
  }
}